manifest {
    description = "Brainprep 2.1.0"
    author = "BrainprepDesk Team"
    nextflowVersion = ">=26.04.0"
}

params {
    data = null
    outdir = null
    keep = false
    dryrun = false
    workflow = "help"
    rtype = "pool"
    debug = false
    container_version = "v2.1.0"
    keep_flag = params.keep ? "--keep-intermediate" : ""
    dryrun_flag = params.dryrun ? "--dryrun" : ""
}

profiles {
    standard {
        process.executor = "local"
        process.errorStrategy = "terminate"
    }
    slurm {
        process.executor = "slurm"
        process.clusterOptions = ""
        process.errorStrategy = "terminate"
    }
    docker {
        docker.enabled = true
        docker.runOptions = "-u \$(id -u):\$(id -g)"
    }
    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.cacheDir = "apptainer/images"
    }
}

process {
    withLabel: "lowmem" {
        memory = "1G"
        cpus = "1"
    }
    withLabel: "medmem" {
        memory = "8G"
        cpus = "1"
    }
    withLabel: "highmem" {
        memory = "16G"
        cpus = "1"
    }
}

workflow {
    output {
        mode = "copy"
    }
}

outputDir = params.outdir
